<html>
  <head>
    <title>Burning Wheel Scripting</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="char_list">
      {% for char in conflict.characters %}
      <div class="character">
        {% if not char.finalized %}
        <form class="character_form" action="/character" method="post">
          Name: <input name="char_name" type="text" value="{{ char.name }}"><br/>
          Pass: <input name="char_pass" type="password"><br/>
          Intent: <input name="intent" type="text" value="{{ char.intent }}"><br/>
          <input type="hidden" name="character_id" value="{{ char.key }}">
          <input type="hidden" name="conflict_id" value="{{ conflict.key.id }}">
          <input type="submit" value="Finalize Character!">
        </form>
        {% else %}
        <span class="char_name">Character: {{ char.name }}</span>
        <span class="char_intent">Intent: {{ char.intent }}</span>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
<!-- vim: set ts=2 sw=2 et: -->
