<html>
  <head>
    <title>Burning Wheel Scripting</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="char_list">
      {% for char in conflict.characters %}
      <span>Characters:</span>
      {% if char.finalized %}
      <div class="character">
        <span class="char_name">Character: {{ char.name }}</span>
        <span class="char_intent">Intent: {{ char.intent }}</span>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div id="add_char">
      <form class="character_form" action="/character" method="post">
        Name: <input name="char_name" type="text"><br/>
        Intent: <input name="intent" type="text"><br/>
        <input type="hidden" name="conflict_id" value="{{ conflict.key.id }}">
        <input type="submit" value="Add Character!">
      </form>
    </div>
  </body>
</html>
<!-- vim: set ts=2 sw=2 et: -->
