<html>
  <head>
    <link type="text/css" rel="stylesheet" href="css/conflict.css">
  </head>
  <body>
    <h3>Conflict #{{ conflict.key.id }}</h2>
    <div id="character_list">
      {% for char in conflict.characters %}
      <div class="character">
        <span class="char_name">Character: {{ char.name }}</span>
        <span class="char_intent">Intent: {{ char.intent }}</span>
      </div>
      {% endfor %}

      <div id="exchange_overview">
        {% for exchange in conflict.sorted_exchanges %}
        <div class="exchange">
          <span>Exchange #{{ exchange.exchange_number }}</span>
          <div class="volley_overview">
            {% for volley in exchange.sorted_volleys %}
            <div class="volley">
              <span>Volley #{{ volley.volley_number }}</span>
              {% if not volley.ready %}
              <div class="volley_actions_overview">
                {% if not volley.sorted_actions %}
                  <!-- No volley actions -->
                  <form class="character_action_form" action="/volley" method="post">
                    <label>Action:</label><input name="action_name" type="text" value=""><br/>
                    <label>Description/Intent:</label><input name="description" type="text" value=""><br/>
                    <input name="volley_key" type="hidden" value="{{ volley.key }}">
                    <input type="submit" value="Act!">
                  </form>
                {% else %}
                  <!-- has volley actions -->
                  {% for action_set in volley.sorted_actions %}
                  <div class="volley_action">
                    {% if not action_set.char_actions %}
                      <!-- Add action -->
                      <form class="character_action_form" action="/volley" method="post">
                        <label>Action:</label><input name="action_name" type="text" value=""><br/>
                        <label>Description/Intent:</label><input name="description" type="text" value=""><br/>
                        <input name="action_key" type="hidden" value="{{ volley_action.key }}">
                        <input type="submit" value="Act!">
                      </form>
                    {% else %}
                      {% for char_action in action_set.char_actions %}
                        {% if char_action.finalized %}
                          <div class="char_action">
                            <span>{{ char_action.character.name }}: {{ char_action.description }}</span>
                          </div>
                        {% else %}
                          <!-- char action not finalized -->
                          <p>Gimme final rawr!</p>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </div>
                  {% endfor %}
                {% endif %}
              </div>
              {% else %}
              <!-- Volley ready -->
              {% endif %}
            </div>
            {% endfor %}
            <br style="clear:both;"/>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
<!-- vim: set ts=2 sw=2 et: -->
